@{
    ViewBag.Title = "Home Page";
}
<h2>The World</h2>
<p>This is going to be fun !!!!!!</p>

<form>
    <div>
        <label>Date</label>
        <input />
    </div>
    <div>
        <label>Location  </label>
        <input />
    </div>
    <input type="submit" value="Add" />
</form>
